{% load static %}

<footer class="py-3 bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 mx-auto text-center">
                <span class="text-white d-block mb-2">Follow us on:</span>
                <div class="social-widget mb-2">
                    <!-- Facebook Link -->
                    <a href="https://facebook.com" class="social-link mx-2" target="_blank" rel="noopener"
                        aria-label="Follow us on Facebook (opens in a new tab)">
                        <i class="fa-brands fa-facebook"></i></i>Facebook
                    </a>

                    <!-- Twitter Link -->
                    <a href="https://twitter.com" class="social-link mx-2" target="_blank" rel="noopener"
                        aria-label="Follow us on Twitter (opens in a new tab)">
                        <i class="fa-brands fa-twitter" style="color: #3684d9"></i>Twitter
                    </a>

                    <!-- Instagram Link -->
                    <a href="https://instagram.com" class="social-link mx-2" target="_blank" rel="noopener"
                        aria-label="Follow us on Instagram (opens in a new tab)">
                        <i class="fa-brands fa-instagram" style="color: #e548d8"></i>Instagram
                    </a>

                    <!-- GitHub Link -->
                    <a href="https://github.com/Cristina-Becheru" class="social-link mx-2" target="_blank" rel="noopener"
                        aria-label="Visit my GitHub page (opens in a new tab)">
                        <i class="fa-brands fa-github"></i> GitHub
                    </a>
                </div>

                <!-- Footer Copyright Notice -->
                <p class="footer-copyright m-0 text-white">
                    Copyright &copy; Piece of Cake Blog for educational purposes
                </p>
            </div>
        </div>
    </div>
</footer>
